*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Montserrat', sans-serif;
}

a{
  color: inherit;
  text-decoration: none;
}

a:hover{
  color: inherit;
  text-decoration: none;
}

ul{
  list-style: none;
}

.app{
  width: 100%;
  height: 100%;
}

main{
  width: 100%;
  height: 100%;
}

/* MAIN LEFT */

main .left{
  width: 230px;
  height: calc(100% - 90px);
  min-height: 308px;
  background-color: rgba(0,0,0,.8);
  position: fixed;
  left:0;
  font-size: 13px;
}

main .left menu > *{
  padding-left: 24px;
}

main .logo{
  height: 40px;
}

main .left menu .item.active{
  border-left: 4px solid #1ED760;
  padding-left: 20px;
}

main .left menu .item.active a{
  opacity: 1;
}

main .left menu .item a{
  display: flex;
  align-items: center;
  height: 30px;
  opacity: .6;
  font-weight: 500;
}

main .left menu .item a:hover{
  opacity: 1;
}

main .left menu .item span{
  margin-left: 16px;
}

main .left menu .item img{
  height: 24px;
}

/* ascloltati di recente */

main .left .recenti {
  padding-left: 24px;
}

main .left .recenti *{
  opacity: 0.6;
}

main .left .recenti h3{
  font-size: 11px;
  font-weight: normal;
  letter-spacing: 1px ;
}

main .left .recenti a:hover span{
  opacity: 1;
}

/* profilo */

main .left .profilo .download{
  border-bottom: 1px solid rgba(255,255,255,.4);

}
main .left .profilo .download a {
  opacity: 0.6;
  height: 30px;
}

main .left .profilo .download a img{
  height: 20px;
}

main .left .profilo .download:hover a{
  opacity: 1;
}

main .left .profilo .utente img{
  width: 28px;
}



/* MAIN RIGHT */

main .right{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right bottom, rgb(150, 137, 3), rgb(0, 0, 0)), linear-gradient(transparent, rgb(0, 0, 0) 70%);
  padding-left: 230px;
  padding-bottom: 90px;
  text-align: center;
}

main .right nav{
  padding: 20px 0;
  line-height: 20px;
}

main .right .container nav ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

main .right .container nav ul li{
  margin: 0 5px;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
}

main .right .container nav ul li a{
  margin: 10px;
  display: inline-block;
  padding: 5px 10px;
  position: relative;
  opacity: .6;
}

main .right .container nav ul li a:hover{
  opacity: 1;
}

main .right .container nav ul li a.active{
  opacity: 1;
}

main nav .active:before{
  content: "";
  height: 2px;
  background-color: #1db954;
  width: 30px;
  position: absolute;
  display: block;
  left: 50%;
  bottom: 0;
  margin-left: -15px;
}

/* FOOTER */

footer{
  width: 100%;
  height: 90px;
  background-color: lightgreen;
  position: fixed;
  bottom:0;
  background-color: #282828;
  border: 1px solid black;
}

footer .row{
  height:100%;
}

footer .row .left img{
  width: 56px;
}

footer .row .left .tit{
  font-size: 12px;
}

footer .row .left .sub-tit a{
  font-size: 10px;
  opacity: .6;
}

footer .row .left a:hover{
  opacity: 1;
  text-decoration: underline;
}

footer .row .left .heart{
  font-size: 14px;
  opacity: .6;
}

footer .row .left .heart:hover{
  opacity: 1;
}

footer .row .left .heart:hover{
  opacity: 1;
}

/* central *//* commands */

footer .row .central .commands .fas{
  font-size: 14px;
  opacity: .6;
  cursor: pointer;
}

footer .row .central .commands .fas:hover{
  opacity: 1;
}

footer .row .central .commands span{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid rgba(255,255,255,0.6);
  cursor: pointer;
}


footer .row .central .commands span:hover{
  border-color: rgb(255,255,255);
  transform: scale(1.1);
}

footer .row .central .commands span:hover .fas{
  opacity: 1;
}

/* player */

footer .row .play-bar span{
  font-size: 11px;
  opacity: .6;
}

footer .row .slider{
  -webkit-appearance: none;
  height: 3px;
  border-radius: 5px;
  background: rgba(255,255,255,.2);
  outline: none;
}

footer .row .central .slider{
  width: 80%;
}

footer .row .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

footer .row .slider:hover {
  opacity: 1;
  background: green
}

/* left */

footer .row .right .slider{
  width: 85px;
}

footer .row .right .fas{
  opacity: .6;
  cursor: pointer;
  font-size: 14px;
}

footer .row .right .fas:hover{
  opacity: 1;
}



/* MEDIA QUERY............................ */

@media all  and (max-height: 512px){
  main .left .recenti{
    display: none;
  }

}
